@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Saira&display=swap');

body {
  font-family: 'Saira', sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #fff;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #fff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  transition: transform .5s;
}

.mainContainer.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  color: #f2b7c6;
  font-size: x-large;
}

   
.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: .4s ease-in;
}

.mainContainer.show-nav + nav li {
  transform: translateX(0);
  transition-delay: .3s;
}

.mainContainer {
  background-color: #f2b7c6;
  transform-origin: top left;
  transition: transform .5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
}

.mainContainer.show-nav {
  transform: rotate(-20deg);
}

a {
  text-decoration: none;
  color: #f2b7c6;
  opacity: .5;
}

nav li a {
  color: #f2b7c6;
  font-weight: bolder;
  text-decoration: none;
  
} 

nav ul li i{
  color: #f2b7c6;
  font-size: 12px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav ul li + li + li + li {
  margin-left: 50px;
  transform: translateX(-220%);
}

p { 
  position: relative;
}

.resume {
  padding: 10px;
  border-radius: 20px;
  font-size: large;
  background-color: #fff;
}

.pages {
  margin: 50px auto;
  width: 100vw;
  max-height: 100vh;
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.name, .header {
  margin: 50px;
  text-align: center;
}

.name h1 {
  font-size: 48px;
}

.name h4 {
  font-size: 24px;
}

.photo {
  border-radius: 100px;
  margin-top: 20px;
}

.header h1 {
  font-size: 2.7rem;
}

.header h4 {
  font-size: 1.1rem;
}


.profile {
  text-align: center;
}

.title {
  padding-left: 70px;
}

.description {
  background-color: #fff;
  font-size: large;
  opacity: .6;
  border-radius: 10px;
  max-width: 70vw;
  margin: 20px auto;
  padding: 40px;
  position: relative;
}

.display {
  flex-wrap: wrap;
  display: flex;
  margin: 30px auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-gap: 30px;
  text-align: center;
  padding: 10px;
}

.card {
  display: grid;
  border: solid 3px #fff;
  border-radius: 10px;
  border-style: ridge;
  margin: 2px;
  padding: 3px;
  font-size: large;
}

.card img {
  padding: 7px;
  margin: 14px;
}

.container {
  display: flex;
  width: 70vw;
  margin: 20px auto;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  opacity: .6;
  height: 20vh;
  border-radius: 20px;
  cursor: pointer;
  flex: 2;
  margin: 10px;
  max-width: 80vw;
  transition: 0.7s ease-in;
  position: relative;
}

#webPage {
  font-size: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

#repoLink {
  font-size: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
}

.panel.active{
  flex: 6;
}

.panel.active #webPage, .panel.active #repoLink{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}

.contactBox {
  margin: 30px auto;
  font-size: medium;
  text-align: center;
}

.legend {
  font-size: x-large;
}

.links {
  text-align: center;
}

.socials {
  margin: 10px;
}

.socials:hover{
  opacity: 1;
}

footer {
  text-align: center;
  padding: 7px;
  background-color:#fff;
  color: #f2b7c6;
}
